<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Quiz</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-text><h1>Book Quiz</h1></ion-text>
    <ion-text><h5>Your time was {{ durationSeconds}} seconds</h5></ion-text>
    <ion-text><h5>Correct {{correctCounter}}</h5></ion-text>
    <ion-button shape="round" color="succes" (click)="goHome()" tappable>End Quiz</ion-button>
  </div>