<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Quiz</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-text><h1>Book Quiz</h1></ion-text>
    <ion-text><h5>Book {{quizService.getIndexOfActiveQuestion()}}/
     {{quizService.getNumberOfQuestions()}}</h5></ion-text>
     <ion-text><h5>Who wrote this famous book?</h5></ion-text>
     <img src="../../assets/imgs/bok.png">
     <ion-text color="primary"><h5>"{{quizService.getQuoteOfActiveQuestion()}}"</h5></ion-text>
    <ion-list>
      <ion-radio-group>
        <ion-item *ngFor="let option of quizService.getOptionsOfActiveQuestion(); let i=index">
         <ion-label>{{option}}</ion-label>
         <ion-radio *ngIf=!quizService.isAnswerCorrect() (click)="checkOption(i)">
         </ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-button
     shape="round" color="succes" (click)="continue()" tappable>Continue</ion-button>
     <ion-text *ngIf=quizService.isOptionSelected()> <h6>{{feedback}}</h6></ion-text>
    </div>
</ion-content>
